<div class="body">
    <div>
        <img src="./assets/profile.jpg" alt="" class="profile">
        </div>
        <div class="line"></div>
        <p class="text">
            Hey,   My name is Aman Yadav, I am student of 3rd year Currently I am pursuing Bachelor's of Technology form United College of Engineering And Research branch Computer
            Science and Engineering. I live in allahabad.<br><br>
            I am certified MEAN STACK developer.
            I have good knowledge of Data Structure , Algorithm and Object Oriented programming.<br><br>
            I solved lots of problem on Codeforces,CodeChef,Leetcode and Hacker Rank and my max rating on CodeChef is 1466.
        </p>
</div>
