   
.body{
    position:static ;
    background-color: rgb(255, 255, 255);
    float:right;
  padding-top: 8vh; 

    width: 87vw
}

.profile{
    padding-top: 3vh;
    border-radius: 100%;
    width: 10vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1vh;
}

.line{
    height: 2px;
    border: 0;
    width: 15vw;
    background: rgb(253, 151, 93);
    margin-bottom: 1vh;



    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text{
    display:block;
    font-size: larger;
    padding-top: 5vh;
    margin-left: 12vw; 
    margin-right: 8vw;
    text-align: justify; 

}

@media only screen and (max-width: 768px) {
    .body{
        position:static ;
        background-color: rgb(255, 255, 255);
        float:none;
      padding-top: 6vh; 
        height: 100%;
        width: 100%
    }
    .profile{
        border-radius: 100%;
        width: 50vw;
        padding-bottom: 2vh;

        
    }
    .line{
        
        width: 56vw;
        margin-bottom: 0.5vh;

    }
  }